h1, h2, h3, h4, h5 {
    font-weight:bold;
}

h1 {
    color: #f3f3f3;
}

hr {
    border: 1px solid gray;
    width: 100%;
    margin: 0px 15px 25px;
}

.forcast {
    text-align: left;
    list-style: none;
}

.hero {
    background-image: url("./images/bwca_hero_image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cust-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    margin-bottom: 25px;    
}

.bg-black {
    background-color:#000000;
    color: #16ff50;
}

.bg-black-footer {
    background-color:#000000;
    color: #16ff50;
    height: 200px;
}

.card-img-height {
    height: 250px;
    width: 100%;
}

.display-height {
    height: 400px;
    width: 100%;
}

.src-btn {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;    
    user-select: none;
    background-color: #28a745;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.src-btn:hover {
    background-color: #00ff00;
    color: black;
    
}

.form-ctrl {
    display: inline-block;
    vertical-align: middle;    
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.forecastCard {
    display: flex;
    flex-direction: column;    
    flex: 1 1 auto;
    min-height: 1px;
    background-color: rgb(80, 80, 80);
    color: white;
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(59, 59, 59);
    background-clip: border-box;
    border-radius: .25rem;
    padding: 8px;
    margin-left: -15px;
            
    }

/* .forecastCard h5 {
    font-size: 14px;
    font-weight:bold;
}     */

.card .card-body {
    padding: 1.88rem 1.81rem;
    margin-bottom: 35px;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem
}

.card-weather .card-body {
    background: #ffffff;
   
}

.card-weather .weekly-weather {
    background: #ffffff;
    overflow-x: auto
}

.card-weather .weekly-weather .weekly-weather-item {
    flex: 0 0 14.28%;
    border-right: 1px solid #f2f2f2;
    padding: 1rem;
    text-align: center
}

.mb-0,
.my-0 {
    margin-bottom: 0 !important
}

.card-weather .weekly-weather .weekly-weather-item i {
    font-size: 1.2rem
}

.mr-auto,
.mx-auto {
    margin-right: auto !important
}

.display-3 {
    font-size: 3.5rem
}